@model ParkingZoneCreateVM

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>ParkingZone</h4>
<hr />
    <div class="row">
        <div class="col-md-4" >
            <form asp-area="Admin" asp-controller="ParkingZones" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ParkingZone.Name" class="control-label"></label>
                    <input asp-for="ParkingZone.Name" class="form-control" />
                    <span asp-validation-for="ParkingZone.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingZone.Address.Street" class="control-label"></label>
                    <input asp-for="ParkingZone.Address.Street" class="form-control" />
                    <span asp-validation-for="ParkingZone.Address.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingZone.Address.City" class="control-label"></label>
                    <input asp-for="ParkingZone.Address.City" class="form-control" />
                    <span asp-validation-for="ParkingZone.Address.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingZone.Address.Province" class="control-label"></label>
                    <input asp-for="ParkingZone.Address.Province" class="form-control" />
                    <span asp-validation-for="ParkingZone.Address.Province" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingZone.Address.PostalCode" class="control-label"></label>
                    <input asp-for="ParkingZone.Address.PostalCode" class="form-control" />
                    <span asp-validation-for="ParkingZone.Address.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingZone.Address.Country" class="control-label"></label>
                    <input asp-for="ParkingZone.Address.Country" class="form-control" />
                    <span asp-validation-for="ParkingZone.Address.Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
